/* Genaral page styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
    color: #333;
    margin: 0;
    padding: 0;
}
/* header */
.header {
    background-color: rgb(81, 81, 143);
    color:#f0f0f0;
    padding: 2rem;
    text-align: center;
}
.header h1 {
    margin: 0;
    font-weight: 700;
    color: wheat;
}
.quote {
    font-style: italic;
    margin-top: 1rem;
}
.nav {
    background-color:rgb(198, 215, 230);
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav li {
    margin: 0 30px;
}
.nav a {
    color: rgb(81, 4, 4);
    text-decoration: none;
    padding: 10px;
    display: block;
}
.nav a:hover {
    background-color: #4a76a8;
    border-radius: 5px;

}
/* about this website */
#bio {
    padding: 1,5rem;
    background: #f0f0f0;
    border-bottom: 2px solid #ccc;
    text-align: center;
}
.about {
    color:blue; 
    text-align: center;
    padding: 1rem 0.5rem;
}
/* Gallery */
#gallery {
    padding: 20px;
    background-color:rgb(198, 215, 230);
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
}
.saint {
    background: white;
    padding: 10px;
    border: 2px solid #ccc;
    width: 200px;
    text-align: center;
    overflow: hidden;
    border-radius: 2rem;
}
.saint img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ccc;
}
.saint p {
    margin: 10px 0 0;
}
.footer-content {
    background-color:rgb(81, 81, 143);
    color: white;
    text-align: center;
    padding: 30px;
}
.footer-socials p {
    color:#f0f0f0; 
    text-decoration: none;
    margin: 0 1rem;
    transition: colour 2sec ease;
}
.footer-content a:hover {
    color: #4a76a8;
}